<a href="https://colab.research.google.com/github/denmarkbeguia/CPE-103-OOP-1-A/blob/main/PhytonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phyton Indentation

In [5]:
if 5>2:
  print ("Five is greater than two!")

Five is greater than two!

Phyton Comments

In [6]:
#This is a comment
print("Hello World")

Hello World

Phyton Variable

In [94]:
x = 1
a, b =0, -1
a,b,c=0,-1,2
b="#This is a type of string"

Casting

In [18]:
b = "sally" #This is a type of string
b = int (4)
b = float (4)
print(b)

4.0

Type()function

In [21]:
 x = 5
y = "John"
print (type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' quotes

In [89]:
y = "John"
y = 'John'
print (y)
print (y)

John
John

Case sensitive

In [31]:
a=4
A="Sally"
#A will not overwrite a
print (A)

Sally

Multiple Variables

In [32]:
x, y, z="one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [33]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variable

In [40]:
x = "enjoying"
print("Phyton programming is" + " " + x)

Phyton programming is enjoying

Arithmetic Operations

In [41]:
x = 10
y = 3
# Exponentiation
x**2
x/y

3.3333333333333335

Assignment Operators

In [43]:
x = 3
x*=3 # x =x*3
print(x)

9

Comparison Operators

In [46]:
x = 5
y = 2

x>y

True

Logical Operators

In [47]:
x = 5
y = 2

not(x>y)

False

Identity Operators

In [67]:
a,b,c+0,-1,6
a>b and c>b

True

Bitwise Operators

In [66]:
#decimal to  binary
#10 = 1010

x = 10
print(x>>1)

5

Application 1

In [ ]:
#Application 1

Rectangle

In [72]:
x, y, z="lenght = 4", "width = 2", "height = 8"
print(x)
print(y)
print(z)

lenght = 4
width = 2
height = 8

Parallelogram

In [86]:
b = 80
h = 40
# Exponentiation
b*h

3200

Square

In [87]:
x = 6
y = 6
# Exponentiation
x*y

36